In [8]:
exp = float(input("Welcome! \nEnter your years of experience: "))
age = float(input("Enter your age: "))
atr = 'annual tax revenue'

if exp > 25 and age >= 55:
    print(f"Your {atr} is $5,600,000")

elif exp > 20 and age >= 45:
    print(f"Your {atr} is $4,480,000")
    
elif exp > 10 and age >= 35:
    print(f"Your {atr} is $1,500,000")

else:
    print(f"Your {atr} is $550,000")

Welcome!
Enter your years of experience: 6
Enter your age: 30
Your annual tax revenue is $550,000

In [45]:
name = ['Samantha   ', 'Jada       ', 'Jane       ', 'Claire     ', 
        'Elizabeth  ', 'Mary       ', 'Susan      ', 'Waje       ', 'Taibat     ', 'Lilian     ']

age = ['| 17        ', '| 16        ', '| 17        ', '| 18        ', '| 16        ', 
       '| 18        ', '| 17        ', '| 20        ', '| 19        ', '| 17        ']

height = ['| 5.5        ', '| 6.0        ', '| 5.4        ', '| 5.9        ', 
          '| 5.6        ', '| 5.5        ', '| 6.1        ', '| 6.0        ', '| 5.7        ', '| 5.5        ']

score = ['| 80', '| 85', '| 70', '| 60', '| 76', '| 66', '| 87', '| 95', '| 50', '| 49']

print('NAME        | AGE        | HEIGHT      | SCORE    ')
for i in range(0,10):
    print(name[i],         age[i],          height[i],          score[i])

NAME        | AGE        | HEIGHT      | SCORE
Samantha    | 17         | 5.5         | 80
Jada        | 16         | 6.0         | 85
Jane        | 17         | 5.4         | 70
Claire      | 18         | 5.9         | 60
Elizabeth   | 16         | 5.6         | 76
Mary        | 18         | 5.5         | 66
Susan       | 17         | 6.1         | 87
Waje        | 20         | 6.0         | 95
Taibat      | 19         | 5.7         | 50
Lilian      | 17         | 5.5         | 49