In [12]:
#project 3 
import pandas as pd

print('Welcome!')

admitted = []
not_admitted = []

def qualifications():
    jamb_score = int(input('Enter jamb score: '))
    key_subjects = input('Did you get at least 5 credits in the key subjects? [yes or no] ').upper()
    interview = input('Did you pass the interview? [yes or no] ').upper()
    
    admiited = {}
    if jamb_score >= 230 and key_subjects == 'YES' and interview == 'YES':
        print('Congratulations!')
        name = input('Enter your name: ')
        age = input('Enter your age: ')
        course = input('Enter course: ')
        adm = {'Name' : name, 'Age' : age, 'Course' : course}
        admitted.append(adm)
        df = pd.DataFrame(admitted)
        df.to_csv('admitted.csv')
        
    else:
        print('Sorry you do not qualify!')
        name = input('Enter your name: ')
        age = input('Enter your age: ')
        course = input('Enter course: ')
        not_adm = {'Name' : name, 'Age' : age, 'Course' : course}
        not_admitted.append(not_adm)
        df = pd.DataFrame(not_admitted)
        df.to_csv('not_admittted.csv')
        
        
        return
        

qualifications()   
print('Success')

Welcome!
Enter jamb score: 230
Did you get at least 5 credits in the key subjects? [yes or no] yes
Did you pass the interview? [yes or no] yes
Congratulations!
Enter your name: Paula
Enter your age: 16
Enter course: ISMS
Success

In [1]:
#project 2
location = input('Enter your location (Ibeju-Lekki or Epe): ').upper()
weight = int(input('Enter package weight: '))

if location == 'IBEJU-LEKKI' and weight >= 10:
    print('Price is 2000')
elif location == 'IJEBU-LEKKI' and weight < 10:
    print('Price is 1500')
elif location == 'EPE' and weight >= 10:
    print('Price is 5000')
else:
    print('Price is 4000')

Enter your location (Ibeju-Lekki or Epe): epe
Enter package weight: 9
Price is 4000

In [2]:
#project 1
import pandas as pd
name = input('Enter name: ').lower()
department = input('Enter department: ').lower()
data = pd.read_csv('jt-ventures.csv')
data

if name ==

Enter name: p
Enter department: d

     S/N           SURNAME     FIRST NAME      DEPARTMENT  Unnamed: 4
0    1.0          ADENIRAN  Oluwatamilore       Logistics         NaN
1    2.0           ADEWUMI        Ayomide      Accounting         NaN
2    3.0       ADOH-AJAGBE          Oshim        Delivery         NaN
3    4.0  AGBAKURU- \NWOGU    Chukwunonye      Accounting         NaN
4    5.0         AGBAKWURU     Chiemeziem       Logistics         NaN
5    6.0            AKINDE   Oluwatimehin      Accounting         NaN
6    7.0            ARNIKA          Osose       Logistics         NaN
7    8.0            ATELLY         Daniel        Delivery         NaN
8    9.0             AZOGU      Onyekachi        Delivery         NaN
9   10.0            BETURE         Shalom        Delivery         NaN
10  11.0          CHUKWUMA           Nedi       Logistics         NaN
11  12.0               EBI      Stephanie      Accounting         NaN
12  13.0            EGBORO          Jason  Administration         NaN
13  14.0           EJEDIMU         Edward        Delivery         NaN
14  15.0             ELERI            Otu  Administration         NaN
15  16.0               EZE     Onyinyechi  Administration         NaN
16  17.0           EZEONYE    Makuochukwu       Logistics         NaN
17  18.0              GIWA       Moyosore       Logistics         NaN
18  19.0              ICHA        Ayonete      Accounting         NaN
19  20.0            IKPATI           Eche      Accounting         NaN
20  21.0         ILOENYOSI        Michael        Delivery         NaN
21  22.0             IYAWE  Oluwadamilola        Delivery         NaN
22  23.0           NWOKOLO       Chijindu       Logistics         NaN
23  24.0         NWOTOKUBO         Joseph       Logistics         NaN
24  25.0          OBASOGIE          Daisy      Accounting         NaN
25  26.0              OBI          Samuel      Accounting         NaN
26  27.0           OBIALOR          Betha      Accounting         NaN
27  28.0           OGBONNA     Boluwatife        Delivery         NaN
28  29.0         OIGBOCHIE           Mary        Delivery         NaN
29  30.0      OKOCHA-OJEAH        Raphael  Administration         NaN
30  31.0             OKOLO         Victor  Administration         NaN
31  32.0             OKORO          Derek       Logistics         NaN
32  33.0         OLOWOKERE        Akorede      Accounting         NaN
33  34.0          OLUBUADE        Rasheed      Accounting         NaN
34  35.0           OSEMEKE         Daniel      Accounting         NaN
35  36.0             OSSAI   Mary-Cynthia       Logistics         NaN
36  37.0             PETER         Owoede       Logistics         NaN
37  38.0            QUADRI   Oluwafikunmi        Delivery         NaN
38  39.0           UDE-IBE        Uchenna        Delivery         NaN
39  40.0              UMEH          Ejike  Administration         NaN
40   NaN               NaN            NaN             NaN         NaN